<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhoneBook</title>
</head>
<body>
<h1>Phone Book</h1>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% block content %}
<p><a href="/contact/add">Add contact</a></p>
<ul>
    {% for contact in contacts %}
    <li><a href="/contact/info/{{contact.id}}">{{contact.name}} ({{contact.email}})</a></li>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>